@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap");
/* header-css-start */
.fs-7{
  font-size: 14px!important;
}
.fs-8{
  font-size: 12px!important;
}
.fs-9{
  font-size: 10px!important;
}
.fs-10{
  font-size: 8px!important;
}
*{

  font-family: "Inter", sans-serif;
}

.form-control {
  width: 450px ;
  background: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: rgb(214, 203, 203);
}
.form-control:focus {
  background: none !important;
  outline: 6px solid rgba(127, 224, 17, 0.331);
  background-color: var(--bs-body-bg);
  border-color: rgb(10, 173, 10);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(10, 173, 10, 0.25);
}


.form-control:placeholder-shown {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: medium;
}
.input-cart{
  width: auto !important;
  padding: 10px;
  background: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: rgb(214, 203, 203);
}
.btn-triatory {
  border: 1px solid rgb(224, 219, 219)!important;
  font-family: "Inter", sans-serif;
  color: rgb(177, 175, 175);
  font-size: 15px;
}
.btn-triatory:hover {
  background-color: rgb(208, 206, 206);
  color: rgb(145, 145, 145);
}
.pos {
  top: 20%;
  right: 8%;
}
.font {
  font-family: "Inter", sans-serif;
  font-size: 14px !;
}
.btn-color {
  background-color: #0aad0a;
  color: white;
  border: none;
  padding: 10px 25px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  transition: 0.5s;
}
.btn-color:hover {
  background-color: #099009;
  color: white;
}
.nav-link {
  color: rgba(0, 0, 0, 0.9);
  font-family: "Inter", sans-serif;
  font-size: 14px !important;
}
.nav-link:hover {
  color: #0aad0a !important;
  cursor: pointer;
}
.menu-btn {
  color: #0aad0a !important;
}

.opt-bar:focus {
  outline: none;
}
.dropdown-toggle:hover {
  color: #0aad0a !important;
}
.btn:focus {
  outline: none;
  border: none;
}
.font-1{
  padding: 17px 19px;
  font-family: "Inter", sans-serif;
  font-size: 14px!important;
}
.font-2{
  font-family: "Inter", sans-serif;
}


/* nav-2 */

.dropdown-menu {
  width: 99%!important;
  max-width: 100%;
}
.dropdown-menu .container {
  max-width: 100%;
}
.navbar .dropdown-fullwidth {
  position: static;
}
.green-clr {
  color: #0aad0a !important;
}
.form-font {
  font-size: 13px;
  font-family: "Inter", sans-serif;
}

/* cart-css */
.only-font {
  font-family: "Inter", sans-serif;
}
.cart-red-font{
  font-family: "Inter", sans-serif;
  color: rgb(88, 19, 19);
  font-size: 14px;
}
.checkout-color{
  color: rgb(61, 13, 13);
}
.cart-product-icon{
  width: 15%;
  height: auto;
}
.boder{
  border: 1px solid rgb(214, 214, 214);
  padding: 3px 10px;
  border-radius: 8px;
}
.width-custom{
  width: 2%;
}
.hover:hover{
  background-color: rgba(119, 119, 119, 0.1);
  border-radius: 10px;
  cursor: pointer;
}
.border-info-grey{
  border: 1px solid rgb(214, 214, 214);
}

.scroll {
  margin:4px, 4px;
  padding:4px;
  width: 100%;
  height: 350px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:justify;
}
.hover-location:hover{
  background-color: rgba(119, 119, 119, 0.1);
  cursor: pointer;
}
input::placeholder{
  font-size: 14px;
  color: rgb(177, 175, 175);
}
.width{
  width: 100% !important;
}
/* header-css-end */

/* hero-section */
#form{
  width: 100% !important;
}
#form:focus {
  background: white !important;
  outline: 6px solid rgba(127, 224, 17, 0.331);
  
}
.pos-1 {
  top: 21%;
  right: 5%;
  font-size: 15px;
}
.bg-green-hover{
  transition: all 0.2s;
}
.bg-green-hover:hover{
  cursor: pointer;
  border: 1px solid #0aad0a !important;
  box-shadow: 0px 0px 10px rgb(0, 0, 0,0.1) ;
}
.form-select:focus {
  background: none !important;
  outline: 6px solid rgba(127, 224, 17, 0.331);
}
.input-chk-box[type='checkbox'] {
  accent-color: #0aad0a;
  
}
.bg-green{
  transition: all 0.5s;
  color: rgb(128, 128, 128);
}
.bg-green:hover{
  background-color: #0aad0a;
  color: white;
  cursor: pointer;
}
.btn-1{
  padding: 8px 13px;
  border-radius: 18%;

}
.border-overlay:focus{
  outline: 5px solid rgba(127, 224, 17, 0.331) !important;
}
.icon-xl {
  height: 4.0rem;
  line-height: 3.5rem;
  width: 4.0rem;
}
.hover-grey{
  transition: all 0.3s;
  border-radius: 10px;
}
.hover-grey:hover{
  background-color: rgb(235, 235, 237);
  cursor: pointer;
}
